receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
    timeout: 10s
    send_batch_size: 1024

  memory_limiter:
    check_interval: 1s
    limit_mib: 512
    spike_limit_mib: 128

  attributes:
    actions:
      - key: service.version
        value: 0.1.0
        action: upsert
      - key: environment
        value: dev
        action: upsert

  resourcedetection:
    detectors: [env, system, docker]
    timeout: 2s
    override: false

exporters:
  otlphttp:
    endpoint: http://jaeger:4317
    tls:
      insecure: true

  prometheus:
    endpoint: "0.0.0.0:8889"

extensions:
  health_check:
    endpoint: :13133

service:
  extensions: [health_check]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [memory_limiter, attributes, resourcedetection, batch]
      exporters: [otlphttp]
    metrics:
      receivers: [otlp]
      processors: [memory_limiter, attributes, resourcedetection, batch]
      exporters: [prometheus]
