[package]
name = "database"
version = "0.1.0"
edition = "2024"
license = "MIT"
authors = ["Ahmad Khatib <ahmadkhatib923@gmail.com>"]
description = "Chaty Backend: Database implementation"

[dependencies]
scylla = { version = "1.4.1", optional = true }
chaty-config = { version = "0.1.3", path = "../config" }

[features]
scylladb = ["dep:scylla"]
# voice = ["livekit-api", "livekit-protocol", "livekit-runtime"]
default = ["scylladb"]
